@tailwind base;
@tailwind components;
@tailwind utilities;

.rec-arrow-left, .rec-arrow-right {
    background-color: rgba(0,0,0,0) !important;
    border-style: none !important;
    box-shadow: none !important;
    /* width: 200px; */
}

.rec-arrow-left:hover, .rec-arrow-right:hover {
    box-shadow: 0 0 2px 0px #333 !important;
    /* background-color: #B16F36 !important ; */
}

.rec-dot_active {
    box-shadow: 0 0 1px 3px #D4A269 !important;
    /* background-color: rgba(103,58,183,.5); */
    background-color: #B16F36 !important;
    color: #B16F36 !important;
}

.fJOMqa:hover {
    /* background-color: aqua !important; */
    color: #B16F36 !important;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
